<h1> Welcome {{user.name}} </h1>
<p>
  <a href="https://thumbs.dreamstime.com/b/cartaz-de-papel-bem-vindo-com-cursos-coloridos-da-escova-125370796.jpg">Click here</a> to show your welcome message
</p>